{% extends "layouts/frontend.html" %}


{% block contents %}


    <div class="jumbotron">
        <h1>Dette er øverst</h1>
        <p>En jumbotron</p>
    </div>


    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-5 col-md-6 col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Basic panel example
                  </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Basic panel example
                  </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Basic panel example
                  </div>
                </div>
            </div>
            
        </div>
        
    </div>

{% endblock %}